
.header{
background-color:orange;
height:150px;
}
.logo{
background-color:orange;
float:left;
}
.sidebar{
background-color:orange;
float:right;
padding:40px;

}
.title{
background-colororange;
margin:auto;
width:500px;
padding:30px;
}
