body
{
	background-image:url("qq.jpg");
	
	background-size: cover;
	background-attachment: fixed;
 	
}

.image2
{
    background-color:red;
	margin: auto;
	margin-top: 150px;
	width: 700px;
	height: 400px;
}
.h2{
	color: darkblue;
	text-align: center;
}

.login-form
{
	margin: auto;
	width: 500px;
	height:500px ;
	padding:65px 50px; 
	text-align:center;


}
.form-bgclr
{
	margin: auto;
	width: 500px;
	height: 250px;
   background-color: gray;
}
input[type=text],input[type=password]
{
   width: 80%;
   padding: 10px 10px;
   border: 2px solid gray;
   box-sizing: border-box;
  
}